.todo-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: $shadow;
    margin-bottom: 15px;
    color: $text-main;
    background-color: white;
    overflow:hidden;
    word-wrap: break-word;

    .text {
        display: flex;
        align-items: center;
        font-weight: 500;
        padding-left: 25px;
        cursor: pointer;
        overflow: hidden;

        i {
            margin-right: 25px;
            color: rgb(250, 250, 250);
            background-color:rgb(250, 250, 250); ;
            box-shadow: 0px 0px 8px 0px rgba(79, 79, 79, 0.35);
            font-size: ($font-size + 0.25);
            border-radius: 100%;
        }
    }

    .item-controls {
        margin: 0 20px 0 25px;
        display: flex;

        @media (max-width: 480px) {
            margin: 0 15px;
        }

        .btn {
            font-size: ($font-size + 0.025);
            padding: 0 8px;
            margin: 0 5px;

            @media (max-width: 480px) {
                padding: 0 5px;
            }

            &-remove {

               &:hover, &:focus {
                    background-color: white !important;
                    color: $button-main !important;
                }
            }

            &-important {
                color: $button-main;

                &:hover {
                    background-color: white !important;
                    color: $important-color !important;
                }

                &:active, &:focus {
                    color: $button-main;
                    background-color: white !important;
                }

                @media (max-width: 480px) {
                    &:hover {
                        background-color: white !important;
                        color: $button-main !important;
                    }
                }
            }
        }
    }

    &.done {
        opacity: .85;

        .text {
            i {
                color: $done-color;
                box-shadow: none;
            }

            p {
                text-decoration: line-through !important;
                opacity: .3;
            }
        }

        .btn-important {
            opacity: .5;
            pointer-events:none;

            &:hover {
                color: $important-color !important;
            }
        }

    }

    &.important {

        .text {
            p {
                font-weight: 700;
                text-decoration: underline;
            }
        }

        .btn-important {
            color: $important-color;

            &:hover {
                color: $button-main !important;
            }

            &:active, &:focus {
                color: $important-color;
                background-color: white !important;
            }

            @media (max-width: 480px) {
                &:hover {
                    background-color: white !important;
                    color: $important-color !important; 
                }
            }

            
        }
    }
}