.add-panel {
    position: relative;
    margin-bottom: 60px;
    width: 100%;

    .add-field {
        box-shadow: 0px -3px 10px 0px rgba(79, 79, 79, 0.25);
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 15px;
        width: 100%;

        input {
            border-radius: 25px 0 0 25px;
            width: 100%;
        }

        .btn {
            border-radius: 0 25px 25px 0;
            background-color: $button-main;
            padding: 0 30px 0 25px;
            color: white;
            font-size: $font-size + 0.1em;

            &:hover, &:focus {
                background-color: darken($color: $button-main, $amount: 10%);
            }

        }
    }
}