.wrapper-outer {
    width: 100vw;
    height: 100vh;
    background-color: $background;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .wrapper {
        width: 550px;
        box-sizing: border-box;
        background-color: white;
        margin: 100px 0;
        padding: 0 35px;
        border-radius: 10px;
        background-color: $background-lite;
    }
}

.btn {
    background-color: white;
    color: $button-main;
    text-transform: uppercase;
    font-family: QuickSand;
    font-weight: 500;
    transition: .2s;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: $button-main;
        color: white !important;
    }

    &:focus {
        background-color: $button-main;
        outline: none;
        color: white;
    }
}

i, p, button, input, span {
    font-size: $font-size;
    font-style: normal !important;
}
