.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 10px 0;

    @media (max-width: 480px) {
        margin: 35px 10px 27px 0;
        justify-content: flex-end;
    }

    &-title {
        font-weight: 400;
        color: $text-main;
        font-family: $first-font;
        text-transform: uppercase;
        font-size: $font-size * 2.15;

        @media (max-width: 480px) {
            display: none;
        }
    }

    &-status {
        color: $text-light;
        text-transform: uppercase;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $text-main;

            span {
                margin-left: 12px;
                font-size: $font-size * 1.5;
                font-weight: 500;

                &:nth-last-child(2) {
                    font-size: ($font-size + 0.25em) !important;
                    color: $text-light;
                    opacity: .5; 
                }
            }
        }
    }
}