.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 10px 0;

    &-title {
        font-weight: 400;
        color: $text-main;
        font-family: QuickSand;
        text-transform: uppercase;
        font-size: 2.25em;
    }

    &-status {
        color: $text-light;
        font-family: QuickSand;
        text-transform: uppercase;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $text-main;

            span {
                margin-left: 12px;
                font-weight: 700;

                &:nth-last-child(2) {
                    font-weight: 500;
                    font-size: ($font-size - 0.1em) !important;
                    color: $text-light;
                }
            }

            &:nth-last-child(1) {
                margin-top: 5px;
            }

        }

    }
}