.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 10px 0;

    &-title {
        font-weight: 300;
        color: $text-main;
        font-family: QuickSand;
        text-transform: uppercase;
    }

    &-status {
        color: $text-light;
        font-family: QuickSand;
        text-transform: uppercase;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 500;
            
            &:nth-last-child(1) {
                margin-top: 3px;
            }

            span {
                margin-left: 12px;
                color: $text-main;
                font-weight: 700;
            }
        }

    }
}