@import './filters.scss';
@import './search.scss';


.controls {
    display: flex;
    margin-bottom: 45px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 550px) {
        flex-direction: column;
    }
}