.filters {
    border-radius: 25px;
    box-shadow: $shadow;
    display: flex;
    height: 44px;

    .btn {
        padding: 0 15px;
        height: 100%;

        &-all {
            border-radius: 25px 0 0 25px;
            padding-left: 20px;
            text-transform: lowercase;
            font-weight: 600;
        }

        &-important{
            border-radius: 0 25px 25px 0;
            padding-right: 20px;
        }

        &.active {
            background-color: $button-main;
            color: white;
        }
    }
}